.menu {
  margin-right: 2em;
}

.menu button {
  width: 100%;
}

.menu .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 0.5em;
  width: 10em;
  margin: 0.5em auto;
  font-weight: bold;
}

@media(max-width: 800px){
  .menu {
    margin: 0.5em;
  }

  .menu .message {
    width: 16em;
    margin: 0 auto;
  }
}
