.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 1em;
  margin: 1em;
}

.historyContent {
  height: 20em;
  overflow-x: hidden;
  overflow-x: auto; 
}

.history button {
  margin-top: 1em;
}

.historyLine{
  margin-top: 0.5em;
  font-size: 0.8em;
}

@media(max-width: 800px){
  .history {
    padding: 0.5em;
  }
}
