#board{
  display: inline-block;
  border: #4E4D5C solid 0.5em;
  border-radius: 0.5em;
}

.line{
  display: flex ;
}

.cell {
  overflow: auto;
  width: 4em;
  height: 4em;
}

.cell:hover {
  cursor: pointer;
  background-image: url("../../images/knight.png");
  background-position: center;
  background-size: 2em 2em;
  background-repeat: no-repeat;
}

.odd {
  background-color: #CCC5B9;
}

.even {
  background-color: #4E4D5C;
}

.knightCell {
  background-image: url("../../images/knight.png");
  background-position: center;
  background-size: 2em 2em;
  background-repeat: no-repeat;
}

.highlightCell {
  background-image: url("../../images/dot.png");
  background-position: center;
  background-size: 1.2em 1.2em;
  background-repeat: no-repeat;
}

@media(max-width: 800px){
  .cell {
    overflow: auto;
    width: 2.5em;
    height: 2.5em;
  } 
}
  