* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-image: url("./images/background.jpg");
  background-size: 20em 20em;
}

button{
  display: block;
  margin: 0;
  padding: 1em;
  border-radius: 1em;
  background-color: #414f5a;
  color: white;
  font-weight: bold;
  border-width: 0;
  margin: 0.5em;
}

button:hover {
  cursor: pointer;
  background-color: #43637c;
}

button:disabled {
  background-color: gray;
}
button:disabled:hover {
  cursor: progress;
}